USE [master]
GO
/****** Object:  Database [geo_climate]    Script Date: 6/8/2025 5:26:56 PM ******/
CREATE DATABASE [geo_climate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'geo_climate', FILENAME = N'D:\Program Files\MSSQL16.SQLEXPRESS\MSSQL\DATA\geo_climate.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'geo_climate_log', FILENAME = N'D:\Program Files\MSSQL16.SQLEXPRESS\MSSQL\DATA\geo_climate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [geo_climate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [geo_climate]
GO
/****** Object:  Table [dbo].[air_quality_categories]    Script Date: 6/8/2025 5:26:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[air_quality_categories](
	[category_aq_id] [tinyint] NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
	[min_value] [float] NOT NULL,
	[max_value] [float] NOT NULL,
	[unit_of_measure] [nvarchar](50) NOT NULL,
	[pollutant] [nvarchar](50) NOT NULL,
	[category_description] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_air_quality_categories] PRIMARY KEY CLUSTERED 
(
	[category_aq_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 6/8/2025 5:26:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[city_id] [smallint] NOT NULL,
	[city_name] [nvarchar](50) NOT NULL,
	[country_id] [tinyint] NULL,
	[continent_id] [tinyint] NOT NULL,
	[latitude] [float] NOT NULL,
	[longitude] [float] NOT NULL,
	[time_zone_id] [smallint] NULL,
	[climate_zone_id] [tinyint] NULL,
 CONSTRAINT [PK_cities] PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city_air_quality]    Script Date: 6/8/2025 5:26:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city_air_quality](
	[profile_id] [smallint] NOT NULL,
	[city_id] [smallint] NOT NULL,
	[pollutant] [nvarchar](50) NOT NULL,
	[typical_value] [nvarchar](50) NOT NULL,
	[typical_category_aq_id] [tinyint] NOT NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_city_air_quality] PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[climate_zones]    Script Date: 6/8/2025 5:26:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[climate_zones](
	[climate_zone_id] [tinyint] NOT NULL,
	[climate_zone_name] [nvarchar](50) NOT NULL,
	[zone_description] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_climate_zones] PRIMARY KEY CLUSTERED 
(
	[climate_zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[continents]    Script Date: 6/8/2025 5:26:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[continents](
	[continent_id] [tinyint] NOT NULL,
	[continent_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_continents] PRIMARY KEY CLUSTERED 
(
	[continent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 6/8/2025 5:26:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[country_id] [tinyint] NOT NULL,
	[country_name] [nvarchar](50) NULL,
	[country_code] [nvarchar](50) NULL,
	[currency] [nvarchar](50) NULL,
 CONSTRAINT [PK_countries] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[time_zones]    Script Date: 6/8/2025 5:26:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time_zones](
	[time_zone_id] [smallint] NOT NULL,
	[time_zone_name] [nvarchar](50) NOT NULL,
	[utc_offset] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_time_zones] PRIMARY KEY CLUSTERED 
(
	[time_zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[air_quality_categories] ([category_aq_id], [category_name], [min_value], [max_value], [unit_of_measure], [pollutant], [category_description]) VALUES (1, N'Good', 0, 12, N'µg/m³', N'PM2.5', N'Air quality is satisfactory.')
INSERT [dbo].[air_quality_categories] ([category_aq_id], [category_name], [min_value], [max_value], [unit_of_measure], [pollutant], [category_description]) VALUES (2, N'Moderate', 12.100000381469727, 35.400001525878906, N'µg/m³', N'PM2.5', N'Air quality is acceptable.')
INSERT [dbo].[air_quality_categories] ([category_aq_id], [category_name], [min_value], [max_value], [unit_of_measure], [pollutant], [category_description]) VALUES (3, N'Unhealthy for Sensitive Groups', 35.5, 55.400001525878906, N'µg/m³', N'PM2.5', N'Sensitive groups may experience health effects.')
GO
INSERT [dbo].[cities] ([city_id], [city_name], [country_id], [continent_id], [latitude], [longitude], [time_zone_id], [climate_zone_id]) VALUES (1, N'Sarajevo', 1, 1, 43.860000610351563, 18.420000076293945, 1, 1)
INSERT [dbo].[cities] ([city_id], [city_name], [country_id], [continent_id], [latitude], [longitude], [time_zone_id], [climate_zone_id]) VALUES (2, N'Tokyo', 2, 2, 35.680000305175781, 139.77000427246094, 2, 2)
INSERT [dbo].[cities] ([city_id], [city_name], [country_id], [continent_id], [latitude], [longitude], [time_zone_id], [climate_zone_id]) VALUES (3, N'New York City', 3, 3, 40.709999084472656, -74.010002136230469, 3, 2)
GO
INSERT [dbo].[city_air_quality] ([profile_id], [city_id], [pollutant], [typical_value], [typical_category_aq_id], [description]) VALUES (1, 1, N'PM2.5', N'20.36', 1, N'Air quality for PM2.5 is good.')
INSERT [dbo].[city_air_quality] ([profile_id], [city_id], [pollutant], [typical_value], [typical_category_aq_id], [description]) VALUES (2, 2, N'PM2.5', N'89.24', 2, N'Air quality for PM2.5 is moderate.')
INSERT [dbo].[city_air_quality] ([profile_id], [city_id], [pollutant], [typical_value], [typical_category_aq_id], [description]) VALUES (3, 2, N'O3', N'43.34', 2, N'Typical ozone (O3) value.')
GO
INSERT [dbo].[climate_zones] ([climate_zone_id], [climate_zone_name], [zone_description]) VALUES (1, N'Temperate Continental Climate', N'Characterized by warm summers and cold winters.')
INSERT [dbo].[climate_zones] ([climate_zone_id], [climate_zone_name], [zone_description]) VALUES (2, N'Humid Subtropical Climate', N'Mild winters and hot, humid summers.')
INSERT [dbo].[climate_zones] ([climate_zone_id], [climate_zone_name], [zone_description]) VALUES (3, N'Temperate Oceanic Climate', N'Mild winters and cool summers with high humidity.')
GO
INSERT [dbo].[continents] ([continent_id], [continent_name]) VALUES (1, N'Europe')
INSERT [dbo].[continents] ([continent_id], [continent_name]) VALUES (2, N'Asia')
INSERT [dbo].[continents] ([continent_id], [continent_name]) VALUES (3, N'North America')
GO
INSERT [dbo].[countries] ([country_id], [country_name], [country_code], [currency]) VALUES (1, N'Bosnia and Herzegovina', N'BA', N'BAM')
INSERT [dbo].[countries] ([country_id], [country_name], [country_code], [currency]) VALUES (2, N'Japan', N'JP', N'JPY')
INSERT [dbo].[countries] ([country_id], [country_name], [country_code], [currency]) VALUES (3, N'United States', N'US', N'USD')
GO
INSERT [dbo].[time_zones] ([time_zone_id], [time_zone_name], [utc_offset]) VALUES (1, N'Europe/Sarajevo', N'+01:00')
INSERT [dbo].[time_zones] ([time_zone_id], [time_zone_name], [utc_offset]) VALUES (2, N'Asia/Tokyo', N'+09:00')
INSERT [dbo].[time_zones] ([time_zone_id], [time_zone_name], [utc_offset]) VALUES (3, N'America/New_York', N'-04:00')
GO
ALTER TABLE [dbo].[cities]  WITH CHECK ADD  CONSTRAINT [FK_cities_climate_zones] FOREIGN KEY([climate_zone_id])
REFERENCES [dbo].[climate_zones] ([climate_zone_id])
GO
ALTER TABLE [dbo].[cities] CHECK CONSTRAINT [FK_cities_climate_zones]
GO
ALTER TABLE [dbo].[cities]  WITH CHECK ADD  CONSTRAINT [FK_cities_continent] FOREIGN KEY([continent_id])
REFERENCES [dbo].[continents] ([continent_id])
GO
ALTER TABLE [dbo].[cities] CHECK CONSTRAINT [FK_cities_continent]
GO
ALTER TABLE [dbo].[cities]  WITH CHECK ADD  CONSTRAINT [FK_cities_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[countries] ([country_id])
GO
ALTER TABLE [dbo].[cities] CHECK CONSTRAINT [FK_cities_country]
GO
ALTER TABLE [dbo].[cities]  WITH CHECK ADD  CONSTRAINT [FK_cities_time_zones] FOREIGN KEY([time_zone_id])
REFERENCES [dbo].[time_zones] ([time_zone_id])
GO
ALTER TABLE [dbo].[cities] CHECK CONSTRAINT [FK_cities_time_zones]
GO
ALTER TABLE [dbo].[city_air_quality]  WITH CHECK ADD  CONSTRAINT [FK_profile_category] FOREIGN KEY([typical_category_aq_id])
REFERENCES [dbo].[air_quality_categories] ([category_aq_id])
GO
ALTER TABLE [dbo].[city_air_quality] CHECK CONSTRAINT [FK_profile_category]
GO
ALTER TABLE [dbo].[city_air_quality]  WITH CHECK ADD  CONSTRAINT [FK_profile_city] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([city_id])
GO
ALTER TABLE [dbo].[city_air_quality] CHECK CONSTRAINT [FK_profile_city]
GO
USE [master]
GO
